In [5]:
a=10

In [6]:
b=20

In [7]:
c=a+b

In [8]:
print(c)

30

In [ ]:
!pip install -U scikit-learn

1709.70s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: scikit-learn in /home/thegodkiller/miniconda3/lib/python3.12/site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /home/thegodkiller/miniconda3/lib/python3.12/site-packages (from scikit-learn) (2.2.4)
Requirement already satisfied: scipy>=1.6.0 in /home/thegodkiller/miniconda3/lib/python3.12/site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in /home/thegodkiller/miniconda3/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/thegodkiller/miniconda3/lib/python3.12/site-packages (from scikit-learn) (3.6.0)

In [3]:
import kagglehub

In [4]:

# Download latest version
path = kagglehub.dataset_download("yasserh/housing-prices-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/yasserh/housing-prices-dataset?dataset_version_number=1...

100%|██████████| 4.63k/4.63k [00:00<00:00, 4.89MB/s]

Extracting files...
Path to dataset files: /home/thegodkiller/.cache/kagglehub/datasets/yasserh/housing-prices-dataset/versions/1

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('./Housing.csv')

In [7]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [8]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [9]:
df.tail()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [11]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [12]:
df.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [13]:
df.shape

(545, 13)

In [14]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [15]:
df.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [16]:
df.drop_duplicates()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [17]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,535,536,537,538,539,540,541,542,543,544
price,13300000,12250000,12250000,12215000,11410000,10850000,10150000,10150000,9870000,9800000,...,2100000,1960000,1890000,1890000,1855000,1820000,1767150,1750000,1750000,1750000
area,7420,8960,9960,7500,7420,7500,8580,16200,8100,5750,...,3360,3420,1700,3649,2990,3000,2400,3620,2910,3850
bedrooms,4,4,3,4,4,3,4,5,4,3,...,2,5,3,2,2,2,3,2,3,3
bathrooms,2,4,2,2,1,3,3,3,1,2,...,1,1,1,1,1,1,1,1,1,1
stories,3,4,2,2,2,1,4,2,2,4,...,1,2,2,1,1,1,1,1,1,2
mainroad,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,...,yes,no,yes,yes,no,yes,no,yes,no,yes
guestroom,no,no,no,no,yes,no,no,no,yes,yes,...,no,no,no,no,no,no,no,no,no,no
basement,no,no,yes,yes,yes,yes,no,no,yes,no,...,no,no,no,no,no,yes,no,no,no,no
hotwaterheating,no,no,no,no,no,no,no,no,no,no,...,no,no,no,no,no,no,no,no,no,no
airconditioning,yes,yes,no,yes,yes,yes,yes,no,yes,yes,...,no,no,no,no,no,no,no,no,no,no
parking,2,3,2,3,2,2,2,0,2,1,...,1,0,0,0,1,2,0,0,0,0
prefarea,yes,no,yes,yes,no,yes,yes,no,yes,yes,...,no,no,no,no,no,no,no,no,no,no
furnishingstatus,furnished,furnished,semi-furnished,furnished,furnished,semi-furnished,semi-furnished,unfurnished,furnished,unfurnished,...,unfurnished,unfurnished,unfurnished,unfurnished,unfurnished,unfurnished,semi-furnished,unfurnished,furnished,unfurnished

In [18]:
df[df.area>5000]

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,2870000,5400,4,1,2,yes,no,no,no,no,0,no,unfurnished
488,2852500,5200,4,1,3,yes,no,no,no,no,0,no,unfurnished
494,2730000,6800,2,1,1,yes,no,no,no,no,0,no,unfurnished
520,2450000,7700,2,1,1,yes,no,no,no,no,0,no,unfurnished
531,2233000,5300,3,1,1,no,no,no,no,yes,0,yes,unfurnished

In [19]:
df[(df.area> 2000) & (df.area<4000)]

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
13,9240000,3500,4,2,2,yes,no,no,yes,no,2,no,furnished
84,6510000,3760,3,1,2,yes,no,no,yes,no,2,no,semi-furnished
87,6475000,3960,3,1,1,yes,no,yes,no,no,2,no,semi-furnished
108,6107500,3240,4,1,3,yes,no,no,no,no,1,no,semi-furnished
117,5950000,3700,4,1,2,yes,yes,no,no,yes,0,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [22]:
df[(df.area == 2000)]

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
498,2660000,2000,2,1,2,yes,no,no,no,no,0,no,semi-furnished

In [23]:
df[(df.price> 2000) & (df.area<4000)]

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
13,9240000,3500,4,2,2,yes,no,no,yes,no,2,no,furnished
84,6510000,3760,3,1,2,yes,no,no,yes,no,2,no,semi-furnished
87,6475000,3960,3,1,1,yes,no,yes,no,no,2,no,semi-furnished
108,6107500,3240,4,1,3,yes,no,no,no,no,1,no,semi-furnished
117,5950000,3700,4,1,2,yes,yes,no,no,yes,0,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [31]:
df[(df.price > 7050000) & (df.area<4000)]

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
13,9240000,3500,4,2,2,yes,no,no,yes,no,2,no,furnished

In [32]:
from sklearn.preprocessing import LabelEncoder

In [33]:
le = LabelEncoder()

In [34]:
df['mainroad'] = le.fit_transform(df['mainroad'])

In [35]:
df['guestroom'] = le.fit_transform(df['guestroom'])

In [36]:
df['basement'] = le.fit_transform(df['basement'])

In [ ]:
df['hotwaterheating'] = le.fit_transform(df['hotwaterheating'])

In [38]:
df['airconditioning'] = le.fit_transform(df['airconditioning'])

In [40]:
df['prefarea'] = le.fit_transform(df['prefarea'])

In [43]:
df['furnishingstatus'] = le.fit_transform(df['furnishingstatus'])

In [45]:
df['hotwaterheating'] = le.fit_transform(df['hotwaterheating'])

In [46]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,2
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,1
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,2
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,0
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,2

In [48]:
X = df.drop('price', axis=1)

In [49]:
y = df['price']

In [50]:
X

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,0
1,8960,4,4,4,1,0,0,0,1,3,0,0
2,9960,3,2,2,1,0,1,0,0,2,1,1
3,7500,4,2,2,1,0,1,0,1,3,1,0
4,7420,4,1,2,1,1,1,0,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000,2,1,1,1,0,1,0,0,2,0,2
541,2400,3,1,1,0,0,0,0,0,0,0,1
542,3620,2,1,1,1,0,0,0,0,0,0,2
543,2910,3,1,1,0,0,0,0,0,0,0,0
544,3850,3,1,2,1,0,0,0,0,0,0,2

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)

In [53]:
X_train

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
261,3510,3,1,2,1,0,0,0,0,0,0,1
353,2856,3,1,3,1,0,0,0,0,0,1,0
94,6000,4,2,4,1,0,0,0,0,1,0,1
180,4500,4,2,1,0,0,1,0,1,2,0,1
192,6600,3,1,1,1,1,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
71,6000,4,2,4,1,0,0,0,1,0,0,2
106,5450,4,2,1,1,0,1,0,1,0,1,1
270,4500,3,2,3,1,0,0,1,0,1,0,0
435,4040,2,1,1,1,0,0,0,0,0,0,2
102,5500,3,2,4,1,1,0,0,1,1,0,1

In [54]:
from sklearn.linear_model import LinearRegression

In [55]:
obj = LinearRegression()

In [56]:
obj.fit(X_train, y_train)

LinearRegression()

In [57]:
obj.predict(X_test)

array([5399607.5558422 , 7091569.21113657, 3058171.53899552,
       4466798.50620404, 3331396.28530626, 3623864.52303303,
       5740703.8655159 , 6535257.33457053, 2858756.04067255,
       2604072.4777014 , 9614006.80668248, 2830914.12076771,
       3044867.50454845, 3384863.907237  , 3813549.67983484,
       5406292.04339156, 2941685.95889221, 4809933.81223592,
       4578479.71883786, 3550798.33085202, 5588124.05148531,
       5858782.17621035, 2759282.16378858, 4908146.26302208,
       5570884.05423172, 7755410.38097264, 3423901.9820931 ,
       5417956.48862327, 8322263.95059736, 3393641.51585457,
       6350977.20538985, 3407698.69418461, 6761978.57955999,
       4194337.58682362, 3623972.86719207, 5785152.2668098 ,
       5089388.64951272, 4386082.86942416, 3077262.46183533,
       4652018.64124458, 4725989.45825769, 3432882.04225215,
       7071461.99514243, 4080376.82417668, 3739303.4807971 ,
       4292064.65622771, 6637114.93906128, 4083067.7603782 ,
       3865430.38366635, 3665605.57917057, 7392047.30319905,
       2888572.83717677, 4488696.30489866, 4415115.52939667,
       3823324.0191283 , 2656853.91968603, 7510988.9492188 ,
       2934323.28709666, 4245583.059105  , 2797234.53397752,
       5037941.54962877, 3583562.35585476, 5216994.75050399,
       4251786.7870079 , 4787528.44798493, 4684629.63521767,
       7226481.99019822, 3569749.68590586, 6204809.33684331,
       6361460.73460963, 4772310.1204792 , 5050911.50641327,
       4647040.63085254, 8081465.89734286, 3487524.67626208,
       5444674.79160483, 4028908.01632351, 4455752.77902462,
       4814916.09855974, 4059118.86852573, 7733919.11469747,
       4142011.10629056, 6759296.7297979 , 5412833.89020813,
       2758385.14714791, 7179582.60691188, 2638610.93932005,
       3691256.31719602, 8000339.72661986, 8398426.03325817,
       3269945.5788631 , 6135282.49847324, 3613176.57792786,
       3656532.43262335, 7912049.32840687, 4753884.91981457,
       5202243.02145566, 6386231.54204035, 4926554.04058134,
       6022554.56045929, 3930885.33835207, 6598674.79819651,
       3674450.98583782, 6098725.85779107, 5201923.17427242,
       4448617.01954899, 7022242.00747125, 6457525.25791776,
       6589604.13854351, 7130140.75923752, 7111831.56400658,
       4950305.23864415, 3996144.25075807, 3273632.55699781,
       4275558.84479426, 3298766.57699049, 2800026.07865629,
       2323485.05959512, 3648541.74011986, 4012938.10413921,
       3777461.31369198, 4972701.88250569, 3913628.9568997 ,
       4072016.85811675, 6110648.42945588, 2328055.0606878 ,
       5688950.00692795, 3390172.86808438, 8099474.69026843,
       6969648.70198605, 3285742.7640883 , 4913314.97393672,
       7035096.98808812, 6583719.0219369 , 3248498.53700514,
       2345128.2452925 , 3140834.53626776, 5588597.69693385,
       3049680.70318127, 3940856.91087388, 2578204.86151292,
       4008681.42996602, 5250617.01650539, 4083307.66982698,
       4170407.85680336, 2419273.6042709 , 6767008.67350021,
       5281057.49372271, 6801220.6415571 , 7278153.31290953,
       5463469.30849712, 4634213.3888996 , 3779999.18292074,
       3836913.87353741, 3288161.36749671, 7200609.79187549,
       8188030.91300056, 4045613.75246893, 7141963.8042719 ,
       3806491.80595738, 4113334.23022817, 7055251.01126045,
       5378604.88993033, 5160414.19775785, 5328314.65895895,
       3566607.80073259, 4381689.45552147, 6346796.68783359,
       6347842.26484997, 6094359.95121686, 3148604.11930582,
       4665121.46779445, 8821791.91832129, 5198388.26080569,
       7333806.92667853, 8050901.72219514, 3320022.14982523,
       6961143.2622579 , 5369084.72753598, 4549624.9676072 ])

In [58]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y_test, obj.predict(X_test));

0.6557070707485257

Python data type

1.) Numeric
    a) Integer ,
    b) Float,
    c) Complex number

2.) Dictionery

3.) Boolean

4.) Set

5.) Sequience

List in Python

Feature of List ->
Ordered,
Changeable,
Heterogenous,
Contains duplicate

Methored of list -> 
1.) appends(),
2.) extends(),
3.) sort(),
4.) reverse(),
5.) pop(),
6.) remove(),
7.) insert(),
8.) len()

Tuple in Python

Feature of Tuple ->
Ordered,
Changeable,
Heterogenous,
Contains duplicate

t = (20, 'jessa', 35.75, [10,20,30])

Methored of tuple -> 
1.) count(),          
2.) index(),          
3.) len(),         
4.) min(),     
5.) max(),    
6.) sum(),      
7.) sort(),     
8.) loop tuple

Dictionary in python

Key value pairs

d = {'a':10, 'b':20, 'c': 30}

1.) Unordered,    
2.) Unique,    
3.) Mutable

Methored of Dictionary -> 
#clear(),      
#copy(),      
#get(),      
#items(),      
#fromkeys(),     
#keys(),       
#update(),      
#pop(),     
#value(),    
#popitems(),

Set in Python

S={20, 'Jessa', 35.45}

1.) Unordered,    
2.) Unchangeable    
3.) Hetrogeneous    
4.) Unique

Methored of Set -> 
1.) add(),   
2.) update(),   
3.) remove(),    
4.) discard(),    
5.) pop(),    
6.) clear(),    
7.) union(),    
8.) intersection(),    
9.) difference(),     
10.) symmetric_difference()

Loops

1.) For Loop,   
2.) While Loop